.main {
  min-height: 200vh;
}
.hero {
  background-image: url('https://cdn.prod.website-files.com/67fa31c445aa6489f30f3b50/6800d39639225a09a757d7dd_home_hero_banner.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: calc(100vh - 190px);
  position: relative;
  padding-top: 140px;
  padding-bottom: 3rem;
  overflow: hidden;
}
.tag {
  position: absolute;
  top: 25%;
  min-width: 1080px;
  max-width: 1280px;
  text-align: left;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.tagText {
  font-size: 1.25rem;
  color: #a4a4a5;
}
.tagYears {
  font-size: 5rem;
  font-weight: 800;
  display: block;
  color: white;
  height: 100px;
  text-align: left;
}
.subtitle {
  color: #a4a4a5;
  font-size: 1.15rem;
}
.containerSubtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.subtitleDot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  overflow: hidden;
  background-image: linear-gradient(135deg, #522b93, #190d2d);
}
.title {
  width: 80%;
  max-width: 850px;
  margin: 0 auto;
  font-size: 3.5rem;
  line-height: 3rem;
  margin-block: .5rem;
  letter-spacing: -0.2rem;
  font-weight: 800;
  color: white;
  position: relative;
  z-index: 10;
}
.containerBanner {
  display: flex;
  margin-top: -1rem;
  justify-content: center;
  z-index: 2;
}
.contentBanner {
  width: 90%;
  max-width: 900px;
}
.banner {
  width: 100%;
  border-radius: 1rem;
  object-position: top;
  object-fit: cover;
}
.footerBanner {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  max-width: 1280px;
  margin: 2rem auto;
}
.footerText {
  color: #a4a4a5;
  text-align: left;
  font-size: 1.25rem;
}
.footerYear {
  font-size: 2.5rem;
  font-weight: 800;
}
@media screen and (min-width: 680px) {
  .hero {
    padding-top: 210px;
    padding-bottom: 0;
  }
  .title {
    width: 80%;
    max-width: 850px;
    font-size: 11rem;
    line-height: 9.5rem;
    margin-block: .5rem;
    letter-spacing: -0.2rem;
  }
  .containerBanner {
    margin-top: -3rem;
  }
  .contentBanner {
    width: 80%;
  }
  .banner {
    height: 80%;
  }
  .footerBanner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  .footerText {
    width: 40%;
    font-size: 1.5rem;
  }
}

/* DESCRIPTION */

.descriptionContainer {
  padding: 2rem 0;
  background-color: #0d0d0e;
}
.descriptionContent {
  padding: 2rem 0;
}
.descriptionText {
  color: #717171;
  font-size: 1.7rem;
  width: 95%;
  margin: 0 auto;
}
.separator {
  border-bottom: 1px solid #211f1f;
  max-width: 1410px;
  height: auto;
  margin: 0 auto;
  padding-top: 5rem;
  margin-bottom: 5rem;
}
.containerStadistics {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: space-between;
  align-items: center;
  max-width: 991px;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 1rem;
}
.stadisticsItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #a4a4a5;
}
.stadisticsNumber {
  font-size: 2.5rem;
  height: 68px;
  font-weight: 500;
  color: white;
}
.stadisticsItemLine {
  border: 1px solid white;
  width: auto;
  height: 112px;
}
.servicesTitle {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: start;
  max-width: 1280px;
  margin: 2rem auto 3rem;
  padding: 0 1rem;
}
.tabsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  min-height: 300px;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}
.tabsMenu {
  display: flex;
  gap: .75rem;
  flex-direction: column;
  padding: 1rem;
}
.tabButton {
  padding: .75rem 1rem .75rem 0;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #717171;
  transition: background-color 0.2s ease;
  font-size: 2rem;
  font-weight: 400;
  border: none;
}
.tabButton.active {
  color: #fff;
  outline: none;
}
.tabButton:focus {
  outline: none;
}
.tabsContent {
  padding: 24px;
}
.tabContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}
.tabContentImage {
  width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
}
.tabContentText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tabContentDescription {
  color: #a4a4a5;
  font-size: 1.2rem;
  text-align: left;
}
.tabContentLink {
  display: inline-block;
  border-radius: 5rem;
  padding: 1rem;
  max-width: 170px;
  font-size: 1.125rem;
  background-color: #7160cf;
  color: white;
}
@media screen and (min-width: 680px) {
  .servicesTitle {
    padding: 0;
    font-size: 4rem;
    margin: 2rem auto 4rem;
  }
  .tabsContainer {
    flex-direction: row;
    gap: 1.5rem;
    min-height: 300px;
    max-width: 1280px;
  }
  .tabsMenu {
    width: 40%;
    gap: 1.5rem;
    padding: 0;
  }
  .tabButton {
    font-size: 2.62rem;
  }
  .tabsContent {
    width: 60%;
    flex-direction: row;
  }
  .tabContent {
    flex-direction: row;
  }
  .tabContentImage {
    width: 50%;
  }
  .tabContentText {
    width: 45%;
  }
  .descriptionContainer {
    padding: 6rem 0;
  }
  .stadisticsNumber {
    font-size: 5rem;
    height: 110px;
  }
  .descriptionText {
    width: 75%;
    font-size: 3.25rem;
  }
  .containerStadistics {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    justify-content: space-between;
    align-items: center;
    max-width: 991px;
    margin-top: 128px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 0;
  }
}

/* PROJECTS */

.sectionProjects {
  padding: 4rem 0;
}
.containerHeaderProjects {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 2rem auto;
}
.titleHeaderProject {
  font-size: 4rem;
  margin-block: .5rem;
  text-align: start;
  margin-left: 1rem;
}
.subtitleHeaderProject {
  max-width: 410px;
  color: #a4a4a5;
  font-size: 1.125rem;
  text-align: left;
  line-height: 162%;
  padding: 0 1rem;
}
.containerProjectsList {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.project {
  padding: 1rem;
  border: 1px solid #322f2f;
  background-color: #0d0d0e;
  cursor: pointer;
  border-radius: 1.5rem;
  height: auto;
  position: sticky;
  top: 20px;
  transition-duration: .6s;
  transition-property: all;
}
.project:nth-child(2) {
  top: 60px;
}
.project:nth-child(3) {
  top: 90px;
}
.projectLink {
  color: white;
}
.projectHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projectHeaderTitle {
  font-size: 2.5rem;
}
.projectHeaderType {
  border: 1px solid #ffffff47;
  border-radius: 90px;
  padding: 1rem 3rem;
}
.projectBody {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2.5rem;
}
.bodyImage {
  border-radius: 1.5rem;
}
.contentBodyText {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}
.bodyTitle {
  margin-block: 0;
  font-size: 2rem;
  line-height: 131%;
}
.bodyDescription {
  color: #a4a4a5;
  text-align: start;
  font-size: 1.125rem;
}

@media (hover:hover) {
  .project {
    padding: 1rem 80px;
  }
  .project:hover {
    background-color: #7160cf;
  }
  .projectLink:hover {
    color: white;
  }
}

@media screen and (min-width: 680px) {
  .containerHeaderProjects {
    margin: 0 auto 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .titleHeaderProject {
    font-size: 4rem;
    margin-block: 1rem;
    margin-left: 0;
    text-align: center;
  }
  .subtitleHeaderProject {
    padding: 0;
  }
  .projectBody {
    flex-direction: row;
    justify-content: space-between;
  }
  .bodyImage {
    width: 50%;
  }
  .bodyTitle {
    margin-block: 1rem;
    font-size: 2rem;
    line-height: 131%;
  }
}

/* REVIEWS */
.sectionReviews {
  background-color: #0d0d0e;
  padding: 2.5rem 0 3.5rem;
}
.containerHeaderReviews {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  border-bottom: 1px solid #322f2f;
}
.titleHeaderReview {
  font-size: 4rem;
  text-align: start;
  margin-left: 2rem;
  margin-block: .5rem;
}
.subtitleHeaderReview {
  display: flex;
  gap: 1rem;
  max-width: 410px;
  color: #a4a4a5;
  font-size: 1.125rem;
  text-align: left;
  line-height: 162%;
  padding: 1rem 2rem;
}
.arrowReview {
  color: #29292b;
  font-size: 3rem;
  cursor: pointer;
  aspect-ratio: 1;
  background-color: #151516;
  border: 1px solid #151516;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  transition-duration: .6s;
  transition-property: all;
}
.arrowReviewContentLeft::before,
.arrowReviewContentRight::before {
  content: "\f053";
}
.containerReviewsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}
.reviewCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  background-color: #151516;
  border-radius: 1rem;
  max-width: 512px;
  padding: 1rem 2rem;
}
.reviewDescription {
  text-align: left;
  color: #a4a4a5;
  font-size: 1.125rem;
  line-height: 162%;
  margin-block: 0;
  transition: color .6s;
}
.containerReviewText {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.reviewContentProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profileReviewImage {
  border-radius: 50%;
  overflow: hidden;
}
.reviewText {
  margin-block: 0;
  text-align: left;
}
.reviewTextName {
  font-size: 1.25rem;
  line-height: 100%;
  font-weight: 600;
}
.reviewTextJob {
  font-size: 0.875rem;
  color: #a4a4a5;
  margin-top: 10px;
  line-height: 100%;
}
.contentStarReview {
  display: flex;
  gap: .3rem;
}
@media (hover:hover) {
  .arrowReview:hover {
    background-color: #7160cf;
    color: white;
  }
}
@media screen and (min-width: 680px) {
  .titleHeaderReview {
    font-size: 4rem;
    margin-left: 0;
    line-height: 4rem;
    margin-block: 1rem;
  }
  .subtitleHeaderReview {
    padding: 0;
  }
  .containerReviewsList {
    flex-direction: row;
    padding: 3rem 0;
  }
  .reviewCard {
    width: 100%;
  }
  .containerHeaderReviews {
    padding: 2rem 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* BLOGS HOME */
.containerBlogs {
  padding: 2rem 0 5rem;
}
.containerBlogsList {
  display: flex;
  flex-direction: column;
  min-height: 55vh;
  gap: 2rem;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}
.containerHeaderBlogs {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}
.titleHeaderBlog {
  font-size: 4rem;
}
.subtitleHeaderBlog {
  max-width: 410px;
  color: #a4a4a5;
  font-size: 1.125rem;
  text-align: left;
  line-height: 162%;
}
.blogItemHome {
  border: 1px solid #322f2f;
  background-color: #0d0d0e;
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
}
.contentBlogImageDate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  margin-bottom: 2.5rem;
}
.blogImage {
  width: 100%;
  border-radius: 1rem;
}
.blogDateCreation {
  padding: .75rem 1.25rem;
  font-size: 1.125rem;
  border-radius: 3rem;
  color: #a4a4a5;
  line-height: 156%;
  border: 1px solid #c4c2c636;
}
.blogBody {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.bodyBlogTitle {
  font-size: 1.9rem;
  color: white;
  font-weight: 500;
  margin-block: 0.5rem;
}
.bodyBlogDescription {
  color: #a4a4a5;
  line-height: 162%;
  font-size: 1.125rem;
  margin-block: 0;
}

@media screen and (min-width: 680px) {
  .containerBlogsList {
    align-items: center;
    flex-direction: row;
    padding: 0;
  }
  .blogItemHome {
    width: 50%;
    padding: 2rem 2.5rem;
  }
  .containerHeaderBlogs {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .contentBlogImageDate {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }
  .blogImage {
    width: 65%;
  }
}

/* LETS TALK */
.containerLetsTalk {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #0d0d0e;
}
.absoluteLetsTalk {
  position: absolute;
  top: 40%;
  left: 37.5%;
  display: flex;
  aspect-ratio: 1;
  -webkit-backdrop-filter: blur(12.7px);
  backdrop-filter: blur(12.7px);
  color: #101010;
  font-size: .95rem;
  width: 100px;
  line-height: 140%;
  font-weight: 500;
  background-color: #ffffff8a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-property: all;
}
.contentLetsTalk {
  max-width: 1280px;
  line-height: 6rem;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}
@media screen and (min-width: 680px) {
  
  .containerLetsTalk {
    height: 90vh;
  }
  .absoluteLetsTalk {
    width: 160px;
    top: 40%;
    left: 45%;
  }
  .contentLetsTalk {
    font-size: 20rem;
    letter-spacing: 0.25rem;
    line-height: 16rem;
    width: 75%;
  }
}
